# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / JetBrains
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Large data files
*.h5
*.obj

*.meta

\.DS_Store
